%h1 Blog
%p This site describes my efforts to learn CS concepts through the struggle of writing software.
%p Traditional CS education presents concepts first.
%p Then you are expected to apply the concepts to solve problems.
%p I offer enhancements to the above two ideas:
%ul
  %li I describe my understanding of CS concepts
  %li I describe my efforts to build software to solve problems
  %li You can learn from my struggles
  


