%h1 Blog
%p Use Problems to Learn CS.
%p Use CS to Solve Problems.
%h2 This site offers an opionated way to learn CS.
%p Traditional CS education presents concepts first.
%p Then you apply the concepts to solve homework problems.
%p This site, cs101.us, is different.
%p We show you the homework problem first.
%p Then we show you the concepts and code needed to solve the problem.
%p
  After you are exposed to hundreds or thousands of solutions to homework problems,
  you should gain some understanding of CS.
%p Also you will become skilled at using CS to solve problems.


