%h1 Links

%ul
  %li
    %a(href='https://cs.stanford.edu/academics/courses' target='x')
      https://cs.stanford.edu/academics/courses
  %li
    %a(href='https://eecs.berkeley.edu/academics/courses' target='x')
      https://eecs.berkeley.edu/academics/courses
  %li
    %a(href='https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/' target='x')
      https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/
  %li
    %a(href='https://meetup.com/cs101a' target='x')
      https://meetup.com/cs101a
  %li
    %a(href='https://meetup.com/Palo-Alto-Data-Science-Association' target='x')
      https://meetup.com/Palo-Alto-Data-Science-Association
  %li
    %a(href='https://codelabs.developers.google.com/cpb100' target='x')
      https://codelabs.developers.google.com/cpb100
  %li
    %a(href='https://codelabs.developers.google.com/cp100' target='x')
      https://codelabs.developers.google.com/cp100
  %li
    %a(href='https://codelabs.developers.google.com/cpo200' target='x')
      https://codelabs.developers.google.com/cpo200
  
