%h1 Links

%ul
  %li
    %a(href='https://cs.stanford.edu/academics/courses' target='x')
      https://cs.stanford.edu/academics/courses
  %li
    %a(href='https://eecs.berkeley.edu/academics/courses' target='x')
      https://eecs.berkeley.edu/academics/courses
  %li
    %a(href='https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/' target='x')
      https://ocw.mit.edu/courses/electrical-engineering-and-computer-science/
  %li
    %a(href='https://codelabs.developers.google.com/cpb100' target='x')
      https://codelabs.developers.google.com/cpb100
  