%h1 Lessons
%p This page leads you to some of the lessons I have learned.
%ul
  %li
    %a(href='/lessons/lesson001') Lesson 001 [ Google GCP ]
  %li
    %a(href='/lessons/lesson002') Lesson 002 [ Google GCP ]
  %li
    %a(href='/lessons/lesson003') Lesson 003 [ Data Science Intro ]
  %li
    %a(href='/lessons/lesson004') Lesson 004 [ Google GCP Dataflow ]
  %li
    %a(href='/lessons/lesson005') Lesson 005 [ Distributed Python with GCP Pub/Sub ]
  %li  Lesson 006 [ Under Construction ]
  %li
    %a(href='/lessons/lesson007') Lesson 007 [ Google Machine Learning Crash Course ]
  %li  Lesson 008 [ Under Construction ]
  %li
    %a(href='/lessons/lesson009') Lesson 009 [ Simple Docker Introductory Tutorial ]
  %li
    %a(href='/lessons/lesson010') Lesson 010 [ AWS EC2, AWS CLI Intro. ]
  %li
    %a(href='/lessons/lesson011') Lesson 011 [ Simple AWS Redshift Intro. ]

