%h1 Lessons
%p This page leads you to some of the lessons I have learned.
%ul
  %li
    %a(href='/lessons/lesson001') Lesson 001 [ Google GCP ]
  %li
    %a(href='/lessons/lesson002') Lesson 002 [ Google GCP ]

