%h1#top Lesson 005 [ Under Construction ]

%p This lesson is inspired by a Will Crichton and his github repo:

%p
  %a(href='https://github.com/willcrichton/gcp-job-queue' target='x')
    https://github.com/willcrichton/gcp-job-queue
  
%p
  The repo leads to a nice description of Pub/Sub, and other GCP topics:

%p
  %a(href='http://willcrichton.net/notes/gcp-job-queue/' target='x')
    http://willcrichton.net/notes/gcp-job-queue/

%p
  I list below steps I followed to create a simple GCP job-queue:
  
  

%p
  %a(href='#top') [top]
%hr/
