%h1#top Lesson 002 [ More Google GCP ]

%p I have taught this lesson several times now.

%p Most of this lesson is done with a browser.

%p I offer tips for success.

%ul
  %li Use Google-Chrome browser.
  %li Dedicate a new browser window to this lesson.
  %li If you need a browser to check news or e-mail, do it in another window.
  %li Get a new window with: File -> New Window
  %li Why? Because you want to avoid working in a window with many tabs.
  %li On a piece of paper, write down a useful tab-organization:
  %li
    %ul
      %li Tab 1: cs101.us
      %li Tab 2: codelabs
      %li Tab 3: github
      %li Tab 4: GCP 1
      %li Tab 5: GCP Cloud-Shell
      %li Tab 6: DataLab
      %li Tab 7: GCP 3

%p I started this lesson by creating a new Chrome-window.

%p I created 7 tabs in that window.

%p
  In tab 1 I loaded this URL:
  %a(href='http://cs101.us' target='x')
    http://cs101.us
  
%p
  In tab 2 I loaded this URL:
  %a(href='https://codelabs.developers.google.com/cp100' target='x')
    https://codelabs.developers.google.com/cp100
  
%p
  In tab 3 I loaded this URL:
  %a(href='https://github.com/GoogleCloudPlatform' target='x')
    https://github.com/GoogleCloudPlatform
  
%p
  In tab 4 I loaded this URL:
  %a(href='https://console.cloud.google.com' target='x')
    https://console.cloud.google.com
%p In tabs 5,6,7 I had done nothing (yet).  

%p After I created the 7 tabs, my Chrome-window looked like this:

%img(src='/lesson002/l200.png')
  
%p I clicked on tab 2, the codelabs-tab.

%p I continued this lesson by studying the URL listed below:
%p
  %a(href='https://codelabs.developers.google.com/cp100' target='x')
    https://codelabs.developers.google.com/cp100
%p I saw this:

%img(src='/lesson002/l201.png')
  
%p On that page I assume the correct ordering of links is listed below:

%ul
  %li
    %a(href='https://codelabs.developers.google.com/codelabs/cp100-free-trial' target='x')
      https://codelabs.developers.google.com/codelabs/cp100-free-trial
  %li
    %a(href='https://codelabs.developers.google.com/codelabs/cp100-cloud-launcher' target='x')
      https://codelabs.developers.google.com/codelabs/cp100-cloud-launcher
  %li
    %a(href='https://codelabs.developers.google.com/codelabs/cp100-app-engine' target='x')
      https://codelabs.developers.google.com/codelabs/cp100-app-engine
  %li
    %a(href='https://codelabs.developers.google.com/codelabs/cp100-cloud-storage' target='x')
      https://codelabs.developers.google.com/codelabs/cp100-cloud-storage
  %li
    %a(href='https://codelabs.developers.google.com/codelabs/cp100-compute-engine' target='x')
      https://codelabs.developers.google.com/codelabs/cp100-compute-engine
  %li
    %a(href='https://codelabs.developers.google.com/codelabs/cp100-container-engine' target='x')
      https://codelabs.developers.google.com/codelabs/cp100-container-engine
  %li
    %a(href='https://codelabs.developers.google.com/codelabs/cp100-big-query' target='x')
      https://codelabs.developers.google.com/codelabs/cp100-big-query
  
%p The above links are discussed below:
%ul
  %li
    %a(href='#free-trial') free-trial
  %li
    %a(href='#cloud-launcher') cloud-launcher


%hr/

%h2#free-trial Free-Trial

%p#free-trial Next, in the codelabs-tab, I clicked this link:

%p
  %a(href='https://codelabs.developers.google.com/codelabs/cp100-free-trial' target='x')
    https://codelabs.developers.google.com/codelabs/cp100-free-trial
  
%p I saw a simple path through 4 pages.

%p The third page had a noteworthy URL I used to get $300 of cloud-credit from Google:

%p I loaded the URL into tab 3, the GCP-tab:
%p
  %a(href='https://console.developers.google.com/freetrial' target='x')
    https://console.developers.google.com/freetrial

%p
  I logged in using my gmail account.

%p
  It worked well; I gave it my credit-card info.
%p
  It gave me $300 of cloud-credit from Google.
%img(src='/lesson001/ss10.png')

%p
  I hope that you can also get that credit.

%p Next, I visited the URL listed below:

%p
  %a(href='https://console.cloud.google.com/projectcreate' target='x')
    https://console.cloud.google.com/projectcreate

%img(src='/lesson001/img003.png')

%p I used that page to create a project called cp100.

%p After I created cp100, GCP displayed a "CP100" select-option-link at the top of every GCP page in my GCP-tab:

%img(src='/lesson002/l202.png')

%p That ended my interaction with the CP100-node I call: "Free-Trial".

%a(href='#top') [top]

%hr/

%h2#cloud-launcher Cloud-Launcher
Next, in the codelabs-tab, I clicked this link:

%p
  %a(href='https://codelabs.developers.google.com/codelabs/cp100-cloud-launcher' target='x')
    https://codelabs.developers.google.com/codelabs/cp100-cloud-launcher
%p I studied this page:
%p
  %a(href='https://codelabs.developers.google.com/codelabs/cp100-cloud-launcher/#1' target='x')
    https://codelabs.developers.google.com/codelabs/cp100-cloud-launcher/#1
%p I studied this page:
%p
  %a(href='https://codelabs.developers.google.com/codelabs/cp100-cloud-launcher/#2' target='x')
    https://codelabs.developers.google.com/codelabs/cp100-cloud-launcher/#2

%p In the GCP-tab of my browser, I confirmed that I had project CP100 loaded.

%p I visited this URL:

%p
  %a(href='https://console.cloud.google.com/' target='x')
    https://console.cloud.google.com/

%p I saw this:

%img(src='/lesson002/l203.png')


%p I clicked the "upper-left-hamburger-link":

%img(src='/lesson002/l204.png')
%br/

%p I clicked "APIs & Services":

%img(src='/lesson002/l205.png')

%p I saw this:

%img(src='/lesson002/l206.png')

%p Near the top I clicked blue-button: "ENABLE APIS AND SERVICES":

%img(src='/lesson002/l207.png')
%br/

%p I searched for "Compute Enginge".

%p I found it:

%img(src='/lesson002/l208.png')

%p I clicked the blue-button: "ENABLE".

%p After two minutes, GCP signaled success.

%p I returned to the codelabs-tab.

%p I studied the next link in the sequence:

%p
  %a(href='https://codelabs.developers.google.com/codelabs/cp100-cloud-launcher/#3' target='x')
    https://codelabs.developers.google.com/codelabs/cp100-cloud-launcher/#3

%p I returned to the GCP-tab.

%p I clicked the "upper-left-hamburger-link".

%p I clicked "Cloud-Launcher":

%img(src='/lesson002/l209.png')

%p I found LAMP by Bitnami:

%img(src='/lesson002/l210.png')

%p I clicked blue-button: "LAUNCH ON COMPUTE ENGINE".

%p After a short delay, GCP served me a configuration page:

%img(src='/lesson002/l211.png')

%p I assumed that the default configuration was fine for my training.

%p I clicked the blue-button: "Deploy".

%p GCP served status during deployment:

%img(src='/lesson002/l212.png')
%hr/
%img(src='/lesson002/l213.png')

%p In the codelabs-tab, I studied the next link in the sequence:

%p
  %a(href='https://codelabs.developers.google.com/codelabs/cp100-cloud-launcher/#4' target='x')
    https://codelabs.developers.google.com/codelabs/cp100-cloud-launcher/#4

%p In the GCP-tab I clicked the link site address near the top.

%img(src='/lesson002/l214.png')
%br/


%p A LAMP server responded:

%img(src='/lesson002/l215.png')

%p I closed that tab.

%p In the GCP-tab I clicked the SSH link:

%img(src='/lesson002/l216.png')
%br/

%p After 30 seconds, GCP served me an SSH window:

%img(src='/lesson002/l217.png')

%p In that window I issued shell commands:

.syntax
  %pre
    %code
      cd /opt/bitnami
      sudo cp docs/phpinfo.php apache2/htdocs
      exit
      
%p In the GCP-tab I clicked the link site address near the top.
%p The LAMP server appeared in a new tab with this URL: http://146.148.39.70/
%p I enhanced the URL:
%p http://146.148.39.70/phpinfo.php

%p The server responded with configuration information:

%img(src='/lesson002/l218.png')

%p The above page convinced me that I successfully completed this exercise.

%p In the GCP-tab I clicked the blue-trashcan-button near the top:

%img(src='/lesson002/l219.png')








  








%a(href='#top') [top]
%hr/

  