%h1#top Lesson 010 [ Simple AWS CLI Intro. ]

%p AWS CLI is short for Amazon Web Services Command Line Interface.

%p Developers often use the web-UI when interacting with AWS.

%p AWS CLI is useful for developers who want to automate interactions with AWS.

%p This lesson shows how I worked some simple AWS CLI tasks.



%p To start, I must Sign-Up for an AWS account.

%p I see a Sign-Up button at this URL:

%a(href='https://aws.amazon.com' target='x')
  https://aws.amazon.com

%p There, using a link in the upper right, I set my region to Oregon.

%p I know that the Oregon region also has these names:
%ul
  %li Oregon
  %li US West (Oregon)
  %li us-west-2

%p The last name, us-west-2, is important for me to remember.

%p Another region I like is this:
%ul
  %li Ohio
  %li US East (Ohio)
  %li us-east-2

%p I like Oregon and Ohio because I assume those data centers have less competition for resources.

%p I, however, have no proof that is true.

%p After I set my region to us-west-2, I visit this URL again:

%a(href='https://console.aws.amazon.com/ec2' target='x')
  https://console.aws.amazon.com/ec2
  