%h1#top Lesson 002 [ More Google GCP ]

%p I have taught this lesson several times now.

%p Most of this lesson is done with a browser.

%p I offer tips for success.

%ul
  %li Use Google-Chrome browser.
  %li Dedicate a new browser window to this lesson.
  %li If you need a browser to check news or e-mail, do it in another window.
  %li Get a new window with: File -> New Window
  %li Why? Because you want to avoid working in a window with many tabs.
  %li On a piece of paper, write down a useful tab-organization:
  %li
    %ul
      %li Tab 1: cs101.us
      %li Tab 2: codelabs
      %li Tab 3: github
      %li Tab 4: GCP 1
      %li Tab 5: GCP Cloud-Shell
      %li Tab 6: DataLab
      %li Tab 7: GCP 3

%p I started this lesson by creating a new Chrome-window.

%p I created 7 tabs in that window.

%p
  In tab 1 I loaded this URL:
  %a(href='http://cs101.us' target='x')
    http://cs101.us
  
%p
  In tab 2 I loaded this URL:
  %a(href='https://codelabs.developers.google.com/cp100' target='x')
    https://codelabs.developers.google.com/cp100
  
%p
  In tab 3 I loaded this URL:
  %a(href='https://github.com/GoogleCloudPlatform' target='x')
    https://github.com/GoogleCloudPlatform
  
%p
  In tab 4 I loaded this URL:
  %a(href='https://console.cloud.google.com' target='x')
    https://console.cloud.google.com
%p In tabs 5,6,7 I had done nothing (yet).  

%p After I created the 7 tabs, my Chrome-window looked like this:

%img(src='/lesson002/l200.png')
  
%p I clicked on tab 2, the codelabs-tab.

%p I continued this lesson by studying the URL listed below:
%p
  %a(href='https://codelabs.developers.google.com/cp100' target='x')
    https://codelabs.developers.google.com/cp100
