%h1#top Lesson 003 [ Intro Data Science ]

%p Topics:

%ul
  %li Anaconda
  %li Jupyter
  %li Python

%p I did this lesson and collected notes during my efforts.

%h2#anaconda Anaconda

%p Anaconda runs on Mac, Windows, Linux.

%p I started by downloading Anaconda for my laptop:

%p
  %a(href='https://repo.continuum.io/archive/' target='x')
    https://repo.continuum.io/archive/

%p After I downloaded it, I started the install it by clicking on the download.

%p During the install, I answered yes to all the defaults.

%p After I installed Anaconda, I saw this:

.syntax
  %pre
    =render 'lesson003a'

%p I verified installation with shell commands:

.syntax
  %pre
    =render 'lesson003b'
    
%hr/

%h2#jupyter Jupyter

%p Jupyter is an interesting application.

%p You can learn a bit about Jupyter at the URL listed below:
%p
  %a(href='http://jupyter.org/' target='x')
    http://jupyter.org/
%p I see Jupyter as a mashup of a Python interpreter and Web technology.

%p I can use Jupyter to expose some Python syntax to a group of people who are running browsers who then want to see that syntax run in their browswers.

%p I bumped into Jupyter in two types of situations.

%p The first type is what I call the presentation-training-scenario.

%p If I present a small amount Python based content to a room full of Python programmers, Jupyter can be a good fit for that task.

%p The second type is what I call the development-scenario.

%p In this situation I need to write some code to deliver a feature in a production app.

%p Is the production app running in Jupyter?

%p Probably not.

%p So to me it's obvious that Jupyter makes a poor development environment.

%p So I remember two points:
%ul
  %li Jupyter is good for training.
  %li Jupyter is poor for development.




