%h1#top Lesson 011 [ Simple AWS Redshift Intro. ]

%p AWS Redshift is a database service.

%p This service runs in a cluster configured by you the operator.

%p The cluster offers higher reliability and sometimes better performance than a single-node database service:

%a(href='https://docs.aws.amazon.com/redshift' target='x')
  https://docs.aws.amazon.com/redshift
  

%p This lesson shows how I worked through some simple AWS Redshift tasks.

%p To start, I Signed-Up for an AWS account.

%p I saw a Sign-Up button at this URL:

%a(href='https://aws.amazon.com' target='x')
  https://aws.amazon.com
%p
%img(src='/lesson011/z012.png')

%p After I signed-up and logged-in, using a link in the upper right, I set my region to Oregon:

%p
%img(src='/lesson011/z013.png')
%hr/



%p I know that the Oregon region also has these names:
%ul
  %li Oregon
  %li US West (Oregon)
  %li us-west-2

%p The last name, "us-west-2", is important to remember.

%p After I set my region to us-west-2, I visited this URL:

%a(href='https://console.aws.amazon.com/redshift' target='x')
  https://console.aws.amazon.com/redshift
  
%p AWS served me a page called Redshift Dashboard.

%p I saw this:

%p
%img(src='/lesson011/z014.png')
%hr/



%hr/
