%h1#top Lesson 011 [ Simple AWS Redshift Intro. ]

%p AWS Redshift is a database service.

%p This service runs in a cluster configured by you the operator.

%p The cluster offers higher reliability and sometimes better performance than a single-node database service:

%a(href='https://docs.aws.amazon.com/redshift' target='x')
  https://docs.aws.amazon.com/redshift
  

%p This lesson shows how I worked through some simple AWS Redshift tasks.

%p To start, I Signed-Up for an AWS account.

%p I saw a Sign-Up button at this URL:

%a(href='https://aws.amazon.com' target='x')
  https://aws.amazon.com
%p
%img(src='/lesson011/z012.png')

%hr/
