%h1#top Lesson 005 [ Under Construction , Screenshots coming...]

%p Refer to 2018-03-09 Meetup:
%p
  %a(href='https://www.meetup.com/cs101A/events/248451696' target='x')
    https://www.meetup.com/cs101A/events/248451696

%p This lesson is inspired by a Will Crichton and his github repo:

%p
  %a(href='https://github.com/willcrichton/gcp-job-queue' target='x')
    https://github.com/willcrichton/gcp-job-queue
  
%p
  The repo leads to a nice description of Pub/Sub, and other GCP topics:

%p
  %a(href='http://willcrichton.net/notes/gcp-job-queue/' target='x')
    http://willcrichton.net/notes/gcp-job-queue/

%p
  I list below steps I followed to create a simple GCP job-queue:

%ul
  %li
    Login to GCP:
    %a(href='https://console.cloud.google.com' target='x')
      https://console.cloud.google.com
  %li
    Create a bucket: pubsub611
    %br/
    %a(href='https://console.cloud.google.com/storage' target='x')
      https://console.cloud.google.com/storage
  %li
    Create a service account: "srvacct":
    %a(href='https://console.cloud.google.com/iam-admin/serviceaccounts' target='x')
      https://console.cloud.google.com/iam-admin/serviceaccounts
  %li
    Create service-key.json:
    %a(href='https://console.cloud.google.com/iam-admin/serviceaccounts' target='x')
      https://console.cloud.google.com/iam-admin/serviceaccounts
  %li
    click-permissions, select role: editor, generate a key:
    %br/
    3 dots:
    %br/
    \~/Downloads/pubsub-e71b0ed6e643.json
    copy downloaded-file to service-key.json
  %li
    Make srvacct an admin of pubsub611 bucket:
    %a(href='https://console.cloud.google.com/storage' target='x')
      https://console.cloud.google.com/storage
    3 dots near bucket
  %li
    Create cluster cluster10,
    Make it ubuntu with 3.75 gb ram
    %br
    %a(href='https://console.cloud.google.com/kubernetes' target='x')
      https://console.cloud.google.com/kubernetes
    %br
    Add 1 worker, ubuntu
  %li
    When done, Get IP addresses from here:
    %a(href='https://console.cloud.google.com/compute' target='x')
      https://console.cloud.google.com/compute
  %li
    On laptop:
    %br
    vi .ssh/config
    .syntax
      %pre
        =render 'lesson005a'
  %li
    Create topic, topic10
    Create subscription, sub10
    %br/
    %a(href='https://console.cloud.google.com/cloudpubsub' target='x')
      https://console.cloud.google.com/cloudpubsub
  %li ssh both mgr and worker
  %li
    .syntax
      %pre
        %code
          apt-get install -y bzip2
          wget https://repo.continuum.io/archive/Anaconda2-5.1.0-Linux-x86_64.sh
          bash Anaconda2-5.1.0-Linux-x86_64.sh
          conda install tqdm
          pip install google-cloud-pubsub google-cloud-monitoring
          cd ~
          vi myworker.py
          vi publish_topics.py

  %li
    .syntax
      %pre
        =render 'lesson005myworker'

  %li
    .syntax
      %pre
        =render 'lesson005publish_topics'

  %li
    On mgr:
    .syntax
      %pre
        %code python publish_topics.py
  %li
    On both hosts, install gcloud:
    .syntax
      %pre
        =render 'lesson005gci'
  %li
    On worker:
    .syntax
      %pre
        %code
          export BOTO_CONFIG=/dev/null
          gcloud auth activate-service-account --key-file=service-key.json
          date > 2018.txt
          gsutil cp 2018.txt gs://pubsub611/
          \# Subscribe to jobs and then complete them:
          python myworker.py

%p This lesson is Under Construction; I offer more content and discussion soon.

%p
  %a(href='#top') [top]
%hr/
