%h1 Lesson 001 [ Google GCP ]
%p I started this lesson by studying the URL listed below:
%p
  %a(href='https://codelabs.developers.google.com/cpb100' target='x')
    https://codelabs.developers.google.com/cpb100
%p Next, I clicked this link:
%p
  %a(href='https://codelabs.developers.google.com/codelabs/cpb100-free-trial/index.html' target='x')
    https://codelabs.developers.google.com/codelabs/cpb100-free-trial/index.html
%p I saw a simple path through 4 pages.

%p The third page had a noteworthy URL I used to get $300 of cloud-credit from Google:

%p
  %a(href='https://console.developers.google.com/freetrial' target='x')
    https://console.developers.google.com/freetrial
  

%p
  I logged into my gmail-account and tried the above link.

%p
  It worked well; I gave it my credit-card info.
%p
  It gave me $300 of cloud-credit from Google.

%p
  I hope that you can also get that credit.
