%h2#top Lesson 007 [Google Machine Learning Crash Course]

%p This lesson shows how I stepped through some ML content from Google.

%p I started by logging into gmail; the class goes smoother after I login to gmail.

%p I visited the URL listed below:

%p
  %a(href='https://developers.google.com/machine-learning/crash-course' target='x')
    https://developers.google.com/machine-learning/crash-course

%p I clicked a button: "VIEW PREREQUISITES".

%p I landed at this page:
%p
  %a(href='https://developers.google.com/machine-learning/crash-course/prereqs-and-prework' target='x')
    https://developers.google.com/machine-learning/crash-course/prereqs-and-prework

%p I studied that page.

%p I gathered up all the Python syntax into one place and pasted it below:

.syntax
  %pre
    =render 'lesson07a'


