%h1#top Lesson 005 [ Under Construction , Screenshots coming...]

%p Refer to 2018-03-09 Meetup:
%p
  %a(href='https://www.meetup.com/cs101A/events/248451696' target='x')
    https://www.meetup.com/cs101A/events/248451696

%p This lesson is inspired by a Will Crichton and his github repo:

%p
  %a(href='https://github.com/willcrichton/gcp-job-queue' target='x')
    https://github.com/willcrichton/gcp-job-queue
  
%p
  The repo leads to a nice description of Pub/Sub, and other GCP topics:

%p
  %a(href='http://willcrichton.net/notes/gcp-job-queue/' target='x')
    http://willcrichton.net/notes/gcp-job-queue/

%p
  I list below steps I followed to create a simple GCP job-queue:

%ul
  %li
    Login to GCP:
    %a(href='https://console.cloud.google.com' target='x')
      https://console.cloud.google.com
  %li
    Create a bucket: pubsub611
    %br/
    %a(href='https://console.cloud.google.com/storage' target='x')
      https://console.cloud.google.com/storage
  %li
    Create a service account: "srvacct":
    %a(href='https://console.cloud.google.com/iam-admin/serviceaccounts' target='x')
      https://console.cloud.google.com/iam-admin/serviceaccounts
  %li
    Create service-key.json:
    %a(href='https://console.cloud.google.com/iam-admin/serviceaccounts' target='x')
      https://console.cloud.google.com/iam-admin/serviceaccounts
  %li
    click-permissions, select role: pub/sub-admin, generate a key:
    %br/
    \~/Downloads/pubsub-e71b0ed6e643.json
    copy downloaded-file to service-key.json
  %li
    Make srvacct an admin of pubsub611 bucket:
    %a(href='https://console.cloud.google.com/storage' target='x')
      https://console.cloud.google.com/storage
    3 dots near bucket
  %li
    I Created cluster cluster10,
    I made it Ubuntu with 3.75 gb ram, I ensured it has full access to cloud-APIs.
    %br
    %a(href='https://console.cloud.google.com/kubernetes' target='x')
      https://console.cloud.google.com/kubernetes
    %br
    I added 1 worker, Ubuntu
  %li
    When done, Get IP addresses from here:
    %a(href='https://console.cloud.google.com/compute' target='x')
      https://console.cloud.google.com/compute
  %li
    On laptop I did this:
    %br
    vi .ssh/config
    .syntax
      %pre
        =render 'lesson005a'
  %li ssh both mgr and worker
  %li
    On both hosts, I installed Python 3 via Anaconda:
  %li
    .syntax
      %pre
        %code
          sudo apt-get install -y bzip2
          wget https://repo.continuum.io/archive/Anaconda3-5.1.0-Linux-x86_64.sh
          bash Anaconda3-5.1.0-Linux-x86_64.sh
  %li
    On both hosts, I installed gcloud:
    .syntax
      %pre
        =render 'lesson005gci'

  %li
    I copied service-key.json from my laptop to both hosts:
    .syntax
      %pre
        %code
          scp ~/Downloads/service-key.json mgr:
          scp ~/Downloads/service-key.json worker:
  %li
    On both hosts I authenticated:
    .syntax
      %pre
        %code gcloud auth activate-service-account --key-file=service-key.json

  %li On mgr, I used gcloud shell commands to test publish-subscribe:
  %li
    .syntax
      %pre
        %code
          gcloud pubsub topics        create         topic10       --project pubsub-197323
          gcloud pubsub subscriptions create --topic topic10 sub10 --project pubsub-197323
          gcloud pubsub topics publish topic10 --message "hello0" --project pubsub-197323
          gcloud pubsub topics publish topic10 --message "hello1" --project pubsub-197323
          gcloud pubsub topics publish topic10 --message "hello2" --project pubsub-197323
          sleep 20
          gcloud pubsub subscriptions pull --auto-ack sub10 --project pubsub-197323
          gcloud pubsub subscriptions delete sub10          --project pubsub-197323
          gcloud pubsub topics        delete topic10        --project pubsub-197323


  %li
    The above test worked well so I moved on.
  %li
    Next, on mgr:
    vi ~/publish_tkrs.bash

  %li
    .syntax
      %pre
        =render 'lesson005publish_tkrs'

  %li
    On mgr I ran this:
    .syntax
      %pre
        %code bash ~/publish_tkrs.bash
  %li
    Next, on worker:
    vi ~/workon_tkrs.bash
  %li
    .syntax
      %pre
        =render 'lesson005workon_tkrs'
  %li
    On worker I ran this:
    .syntax
      %pre
        %code bash ~/workon_tkrs.bash
  %li I found new predictions in my pubsub611 bucket!
  %li I saw them here:
  %li
    %a(href='https://console.cloud.google.com/storage' target='x')
      https://console.cloud.google.com/storage
  
%p This lesson is Under Construction; I offer more content and discussion soon.

%p
  %a(href='#top') [top]
%hr/
